.gallery-item__like {
  background-image: url('../../../images/heart.svg');
  background-repeat: no-repeat;
  cursor: pointer;
  min-width: 22px;
  height: 19px;
  background-color: transparent;
  border: none;
  transition: 0.3s;
  margin-bottom: 10px;
}
.gallery-item__like:hover {
  opacity: 0.6;
}
.gallery-item__like.gallery-item__like-active {
  background-image: url('../../../images/heart-active.svg');
  background-repeat: no-repeat;
}