.container {
  width: calc(100% - 400px);
  margin: 0 auto;
  max-width: 882px;
}
@media screen and (max-width: 1152px) {
  .container {
    width: calc(100% - 200px);
  }
}
@media screen and (max-width: 532px) {
  .container {
    width: calc(100% - 100px);
  }
}
@media screen and (max-width: 440px) {
  .container {
    width: 100%;
  }
}