.profile__subtitle {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 336px;
}
@media screen and (max-width: 540px) {
  .profile__subtitle {
    font-size: 14px;
    max-width: 189px;
  }
}