.profile__title-group {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 384px;
}
@media screen and (max-width: 879px) {
  .profile__title-group {
    justify-content: center;
    margin-top: 29px;
    margin-bottom: 36px;
  }
}