.root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  margin: 0 auto;
  min-height: 100vh;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  min-width: 320px;
}
