.auth__input {
  background-color: transparent;
  padding-top: 13px;
  padding-bottom: 13px;
  border: none;
  border-bottom: 2px solid #CCCCCC;
  color: #fff;
}
.auth__input::placeholder {
  color:#CCCCCC;
}